@page
@using SeguimientoEnCasa.App.Dominio
@model SeguimientoEnCasa.App.Presentacion.Pages.Magisterio.EditarMaestroModel
@{
}
<h2>Edición del Maestro :@Model.Maestro.Nombre</h2>
<form method="post">
    <input type="hidden" asp-for="Maestro.Id"/>
    <div class="form-group">
        <label asp-for="Maestro.Nombre"></label>
        <input asp-for="Maestro.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="Maestro.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="Maestro.Apellidos"></label>
        <input asp-for="Maestro.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="Maestro.Apellidos"></span>
    </div>
    <div class="form-group">
        <label>Numero De Telefono</label>
        <input asp-for="Maestro.NumeroTelefono" class="form-control">
        <span class="text-danger" asp-validation-for="Maestro.NumeroTelefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="Maestro.Genero"></label>
        <select asp-for="Maestro.Genero" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control"></select>
        <span class="text-danger" asp-validation-for="Maestro.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="Maestro.Asignatura"></label>
        <input asp-for="Maestro.Asignatura" class="form-control">
        <span class="text-danger" asp-validation-for="Maestro.Asignatura"></span>
    </div>
    <div class="form-group">
        <label asp-for="Maestro.Curso"></label>
        <input asp-for="Maestro.Curso" class="form-control">
        <span class="text-danger" asp-validation-for="Maestro.Curso"></span>
    </div>
    <div class="form-group">
        <label asp-for="Maestro.Registro"></label>
        <input asp-for="Maestro.Registro" class="form-control">
        <span class="text-danger" asp-validation-for="Maestro.Registro"></span>
    </div>

    
    <button type="submit" class="btn btn-primary">Grabar</button>
</form>

<a asp-page="./Maestro" class="btn-default">Lista de Maestros </a>