@page
@model IndexModel
@{
    ViewData["Title"] = "Bievenido";
}

<div class="text-center">
    <h1 class="display-4">Servicio Virtual de Seguimiento Estudiantil</h1>
    <p>Bienvenida Comunidad Académica.</p>
</div>
