@page
@model SeguimientoEnCasa.App.Presentacion.Pages.EstudianteModel
@{
}
<h1>Lista Estudiantes</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Numero de Telefono</th>
        </tr>
    </thead>

    @foreach (var p in Model.Estudiantes)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Apellidos</td>
            <td>@p.NumeroTelefono</td>
        </tr>
    }
</table>